html,body{
  width: 100%;
  height: 100%;
  margin:5px;
  padding:5px;
}

.resp-container {
    position: relative;
    overflow: hidden;
}

.resp-iframe {
    position: relative;
    top: 0;
    left: 0;
    width: calc(50% -16px);
    height: 100%;
    border: 0;
    float: left;
}

@media (max-width:1600px) {
	.resp-iframe {
    width: 800px;
    float: unset;
}
	.resp-container {
    position: relative;
    overflow: hidden;
    width: 800px;
    margin: auto !important;
}}


h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

div {
  resize: both;
  overflow: auto;
  font-size: 22px;
}
