html,body{
  width: 100%;
  height: 100%;
  margin:5px;
  padding:5px;
  background-color: #272928;
}

.resp-container {
    position: relative;
    overflow: hidden;
}

.resp-iframe {
    position: relative;
    top: 0;
    left: 0;
    width: calc(50% -16px);
    height: 100%;
    border: 0;
    float: left;
}

@media (max-width:1200px) {
	.resp-iframe {
    width: 600px;
    float: unset;
}
	.resp-container {
    position: relative;
    overflow: hidden;
    width: 600px;
    margin: auto !important;
}}


h1 {
  font-size: 40px;
  color: #f9f0e7;
}

h3 {
  font-size: 26px;
  font-family: open sans;
  margin: 0;
  color: #f9f0e7;
}

p {
  font-size: 22px;
  overflow: auto;
  font-family: open sans;
  margin: 0;
  color: #f9f0e7;
}


i {
  font-family: open sans;
  color: #f9f0e7;
}

.breaking{    
    width: 95%;
    word-wrap: break-word;
    font-family: open sans;
}

div {
  resize: both;
  overflow: auto;
  font-size: 22px;
}

div.home {
a:link { color: #f9f0e7; }
a:visited { color: #f9f0e7; }
a:hover { color: #f9f0e7; }
a:active { color: #f9f0e7; }
}